node_modules/
.DS_Store
*.log
.pods/
android/build/
ios/build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
!.xcworkspace/xcshareddata/
*.xcuserstate
.idea/
.vscode/
*.swp
*.swo
*.iml
.env.local
.env.*.local